.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* Home */

.nav {
  display: flex;
  position: fixed;
  align-items: center;
  padding: 10px;
  top: 0; 
  left: 0;
  height: 100px;
  width: 100%;
  background-color: #000000;
  color: #FFFFFF;
}

.navtext {
  display: text;
  margin-left: 50px;
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.navtext:hover {
  color: #bcc2ff;
}

.title {
  display: flex;
  justify-content: center;
  padding: 75px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.container {
  margin: 8px;
  animation: 30s rotate linear infinite;
}

/* Polychromatic */

.header {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.image {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.button:hover {
  background-color: #bcc2ff;
  color: #000000;
}

/* Desktop */

@media (min-width: 1000px) {
  .header {
    font-size: 30px;
  }
  
  .image {
    padding: 20px;
    margin: 20px;
  }
  
  .data {
    padding: 50px;
    font-size: 20px;
  }
  
  .gap {
    padding: 10px;
    font-size: 20px;
  }
  
  .button {
    font-size: 20px;
    border: #000000 5px solid;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;

  }
}

/* Tablet */

@media (min-width: 600px) and (max-width: 999px) {
  .header {
    font-size: 25px;
  }
  
  .image {
    padding: 12px;
    margin: 12px;
  }
  
  .data {
    padding: 17px;
    font-size: 17px;
  }
  
  .gap {
    padding: 12px;
    font-size: 17px;
  }
  
  .button {
    font-size: 17px;
    border: #000000 4px solid;
    padding: 7px;
    margin: 10px;
    border-radius: 15px;
  }
}

/* Mobile */

@media (max-width: 599px) {
  .header {
    font-size: 20px;
  }
  
  .image {
    padding: 7px;
    margin: 7px;
  }
  
  .data {
    padding: 12px;
    font-size: 15px;
  }
  
  .gap {
    padding: 10px;
    font-size: 15px;
  }
  
  .button {
    font-size: 15px;
    border: #000000 3px solid;
    padding: 5px;
    margin: 7px;
    border-radius: 12px;
  }
}


